### Anonymisera  data

Finns olika krypteringrar. 
- Dom som gåt att avkryptera.
- Doms som inte går att avkryptera.
- Två vägs eller en vägs kryptering.

In [ ]:
import hashlib as hl
# en sträng får samma hash o av sätt hur du kallar hash krypt på den
string_to_hash = "hanfre@live.se".encode() # skapar en binär sträng
string_to_hash_case = "Hanfre@live.se".encode()

hl.sha256(string_to_hash).hexdigest(), hl.sha256(string_to_hash_case).hexdigest() # hexdigest får vi en hexadecimal sträng

('975675ca538c4045586b528d99ab26e147924e6543b56696c2b1334cbaed49b9',
 'fab6b388c30a85f05c17d80897bd1035869affaa7c7b72737606be4e18eb9b0b')

In [ ]:
import pandas as pd

df = pd.read_csv("../Data/BankChurners.csv", usecols=["CLIENTNUM", "Attrition_Flag", "Customer_Age", "Gender", "Total_Trans_Amt"])

       CLIENTNUM     Attrition_Flag  Customer_Age Gender  Total_Trans_Amt
0      768805383  Existing Customer            45      M             1144
1      818770008  Existing Customer            49      F             1291
2      713982108  Existing Customer            51      M             1887
3      769911858  Existing Customer            40      F             1171
4      709106358  Existing Customer            40      M              816
...          ...                ...           ...    ...              ...
10122  772366833  Existing Customer            50      M            15476
10123  710638233  Attrited Customer            41      M             8764
10124  716506083  Attrited Customer            44      F            10291
10125  717406983  Attrited Customer            30      M             8395
10126  714337233  Attrited Customer            43      F            10294

[10127 rows x 5 columns]

In [ ]:
df.dtypes

CLIENTNUM           int64
Attrition_Flag     object
Customer_Age        int64
Gender             object
Total_Trans_Amt     int64
dtype: object

In [18]:
df["CLIENTNUM"] = df["CLIENTNUM"].astype(str)
hashs = df["CLIENTNUM"].apply(lambda x: hl.sha256(x.encode()).hexdigest())

hashs

0        c9bbef56f9d8292cb3cfa8ae91f9b9167390e6e4b514d5...
1        7996e2340d70489252370a5df035ec99381c8344cc3511...
2        6fb53dbc743724e086243b5bc288df62b4a6dc1b8bde92...
3        f86b86a1047317685f29c399059b199858685faf5ec6a8...
4        0d239470b0cb57e110cf60bc3865344ee2cdced6e3acdc...
                               ...
10122    5d74fc2a096fd2cff997508f7c9113a536baedde263ea6...
10123    3bc4758c36022672c79630afa3a75383a68c424670a890...
10124    c5b0077515f55ffa6eb3d8e36432bbf1e550a835e53193...
10125    c92e42249aeab9893aa98f8ed824361447e005a1805bd8...
10126    fd6700f076addd734bdb51b40adda26805839ccd3e66f6...
Name: CLIENTNUM, Length: 10127, dtype: object

In [ ]:
df.insert(1, "SHA Hash values", hashs)

df

,CLIENTNUM,SHA Hash values,Attrition_Flag,Customer_Age,Gender,Total_Trans_Amt
0,768805383,c9bbef56f9d8292cb3cfa8ae91f9b9167390e6e4b514d5...,Existing Customer,45,M,1144
1,818770008,7996e2340d70489252370a5df035ec99381c8344cc3511...,Existing Customer,49,F,1291
2,713982108,6fb53dbc743724e086243b5bc288df62b4a6dc1b8bde92...,Existing Customer,51,M,1887
3,769911858,f86b86a1047317685f29c399059b199858685faf5ec6a8...,Existing Customer,40,F,1171
4,709106358,0d239470b0cb57e110cf60bc3865344ee2cdced6e3acdc...,Existing Customer,40,M,816
...,...,...,...,...,...,...
10122,772366833,5d74fc2a096fd2cff997508f7c9113a536baedde263ea6...,Existing Customer,50,M,15476
10123,710638233,3bc4758c36022672c79630afa3a75383a68c424670a890...,Attrited Customer,41,M,8764
10124,716506083,c5b0077515f55ffa6eb3d8e36432bbf1e550a835e53193...,Attrited Customer,44,F,10291
10125,717406983,c92e42249aeab9893aa98f8ed824361447e005a1805bd8...,Attrited Customer,30,M,8395
10126,714337233,fd6700f076addd734bdb51b40adda26805839ccd3e66f6...,Attrited Customer,43,F,10294