In [52]:
import pandas as pd
from Tools.data_utils import convert_object_to_numbers, remove_footnote_symbals

danish_tabel_list = pd.read_html("https://en.wikipedia.org/wiki/Demographics_of_Denmark#Vital_statistics")
danish_data = danish_tabel_list[25]
danish_data.rename(columns={"Unnamed: 0": "Year", 
                            "Total fertility rate[fn 2]": "Fertility",
                            "Average population (January 1)": "Population"}, inplace=(True))
danish_data

,Year,Population,Live births,Deaths,Nat. change,Crude birth rate (per 1000),Crude death rate (per 1000),Nat. change (per 1000),Crude migration change (per 1000),Fertility
0,1900,2432000,72129.0,40891.0,31238.0,29.700,16.800,12.800,-6.6,4.1600
1,1901,"2,447,000 [28]",73219.0,38786.0,34425.0,29.700,15.700,14.000,-1.7,4.1400
2,1902,2477000,72839.0,36424.0,36391.0,29.200,14.600,14.600,-2.9,4.0500
3,1903,2506000,72351.0,36956.0,35403.0,28.700,14.600,14.000,-3.6,3.9600
4,1904,2532000,73692.0,35903.0,37788.0,28.900,14.100,14.800,-3.7,3.9700
...,...,...,...,...,...,...,...,...,...,...
120,2020,5822763,60937.0,54645.0,6292.0,10.400,9.400,1.000,2.0,1.6747
121,2021,5840045,63473.0,57152.0,6321.0,10.800,9.700,1.100,4.6,1.7241
122,2022,5873420,58430.0,59435.0,-1005.0,9.948,10.119,-0.171,10.3,1.5529
123,2023,5932654,57469.0,58384.0,-915.0,9.686,9.841,-0.155,5.0,1.4959
124,2024,5961249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
norway_tabel_list = pd.read_html("https://en.wikipedia.org/wiki/Demographics_of_Norway#Vital_statistics ")
norwegian_data = norway_tabel_list[30]
norwegian_data.rename(columns={"Unnamed: 0": "Year", 
                               "Total fertility rates[fn 1][6][9]": "Fertility", 
                               "Average population (Januari 1)": "Population"}, inplace=(True))
norwegian_data

,Year,Population,Live births,Deaths,Natural change,Crude birth rate (per 1000),Crude death rate (per 1000),Natural change (per 1000),Crude migration change (per 1000),Fertility
0,1900,2231000,66229.0,35345.0,30884.0,29.7,15.8,13.8,-3.1,4.40
1,1901,2255000,67303.0,33821.0,33482.0,29.8,15.0,14.8,-5.5,4.37
2,1902,2276000,66494.0,31670.0,34824.0,29.2,13.9,15.3,-10.0,4.26
3,1903,2288000,65470.0,33847.0,31623.0,28.6,14.8,13.8,-9.5,4.16
4,1904,2298000,64143.0,32895.0,31248.0,27.9,14.3,13.6,-8.8,4.07
...,...,...,...,...,...,...,...,...,...,...
120,2020,5367580,52979.0,40611.0,12368.0,9.9,7.5,2.4,2.1,1.48
121,2021,5391369,56060.0,42002.0,14058.0,10.3,7.7,2.6,3.7,1.55
122,2022,5425270,51480.0,45774.0,5706.0,9.5,8.4,1.1,10.7,1.41
123,2023,5488984,51980.0,43803.0,8177.0,9.5,8.0,1.5,9.7,1.40
124,2024,5550203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
sweden_tabel_list = pd.read_html("https://en.wikipedia.org/wiki/Demographics_of_Sweden#Vital_statistics")
swedish_data = sweden_tabel_list[27]
swedish_data.rename(columns={"Unnamed: 0": "Year", 
                             "Total fertility rates[fn 2]": "Fertility", 
                             "Average population (31 december)": "Population"}, inplace=(True))
swedish_data

,Year,Population,Live births,Deaths,Natural change,Crude birth rate (per 1000),Crude death rate (per 1000),Natural change (per 1000),Crude migration change (per 1000),Fertility
0,1900,"5,136,441 [34]",138139,86146,51993,27.0,16.8,10.2,NaN,4.02
1,1901,5175228,139370,82772,56598,27.0,16.1,10.9,-3.3,4.04
2,1902,5198752,137364,79722,57642,26.5,15.4,11.1,-6.6,3.95
3,1903,5221291,133896,78610,55286,25.7,15.1,10.6,-6.3,3.82
4,1904,5260811,134952,80152,54800,25.7,15.3,10.4,-2.8,3.83
...,...,...,...,...,...,...,...,...,...,...
119,2019,10327000,114523,88766,25757,11.1,8.6,2.5,7.0,1.70
120,2020,10379000,113077,98124,14953,10.9,9.5,1.4,3.6,1.66
121,2021,10452326,114263,91958,22305,10.9,8.8,2.1,4.9,1.67
122,2022,10521556,104734,94737,9997,10.0,9.0,1.0,5.6,1.52
123,2023,10551700,100051,94385,5666,9.5,9.0,0.5,2.3,1.45